<h1>To Do List</h1>
<h2>Venue: @Model["venue"].GetName()</h2>
<hr />
@if (@Model["venueBands"].Count == 0)
{
  <p>No bands have been added yet!</p>
}
else
{
  <h4>Here are all the bands in this venue:</h4>
  <ul>
    @foreach (var band in @Model["venueBands"])
    {
      <li><a href="/bands/@band.GetId()">@band.GetDescription()</a></li>
    }
  </ul>
}
<h4>Add a band to this venue:</h4>
<form action='/venue/@Model["venue"].GetId()/add_band' method="post">
  <input id="venue-id" type="hidden" name="venue-id" value='@Model["venue"].GetId()'>
  <label for="band-id">Select a Band</label>
  <select id='band-id' name='band-id' type='text'>
    @foreach (var band in @Model["allBands"])
    {
      <option value='@band.GetId()'>@band.GetDescription()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
